body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f3f3f3;
}
a {
    color: #78b509;
    text-decoration: none;

    &:hover {
      color: #5e8d07;
      text-decoration: none;
    }
}
article {
  margin: 0 auto;
  max-width: 650px;
}
