.device-list {
  .btn {
    margin-right: 5px;
  }

  .card-text {
    p {
      margin: 0;
    }
  }

  .filter-list {
    background-color: white;
    padding: 2rem;

    .form-group {
      margin: 0;
    }
  }

  .category-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #212529;
  }
}
