header {
  padding: 24px 32px;
  margin-bottom: 32px;
  text-align: center;

  h1 {
    font-weight: 100;
  }
  nav {
    max-width: 650px;
    margin: 0 auto;
  }
  a {
    font-size: 18px;
    margin-right: 16px;
  }
  .is-active {
    font-weight: bold;
    text-decoration: underline;
  }
  .site-title {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 40px;
  }

  .d-dot {
    background-color: #78b509;
    width: 10px;
    height: 10px;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 2px;

  }
}
